doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1, maxmun-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
        include nav.pug
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
